* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.container {
  width: 500px;
  background: #ade8f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}

h1 {
  font-size: 70px;
  letter-spacing: 5px;
}

.counter {
  font-size: 50px;
}

.number {
  margin: 30px 0;
}

.container-btn {
  display: flex;
  gap: 15px;
}

.button {
  height: 30px;
  width: 100px;
  border: 2px solid;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid;
  background: none;
}

.button:hover {
  border: 2px solid #0096c7;
}
