* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #bce6dd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.counter {
  font-size: 50px;
}

.number {
  margin: 30px 0;
}

.container-btn {
  display: flex;
  gap: 10px;
}

.button {
  height: 30px;
  width: 100px;
  border: 2px solid;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid;
  background: none;
}

.button:hover {
  border: 2px solid blue;
}
